
.body {
    font-family: "DM Sans", sans-serif;
   
  }

    .edge {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px rgb(214, 250, 210);
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/092/530/original/fortgoergescene.jpg?1691436916);
    border-radius: 15px;
    padding: 20px;
      }
  
  .edge-in {
    margin-top: 20px;
    border: solid 1px rgb(226, 251, 195);
    border-radius: 15px;
    padding: 15px;
  
  }
  
  .btn {
    border: solid 1px rgb(215, 246, 199);
  }
  
  .city {
    font-weight: 700;
    font-size: 40px;
  }
  .main-temp {
    font-weight: 700;
    font-size: 50px;
  }
  
  .weather-temperature .units {
    position: relative;
    font-size: 20px;
    top: -20px;
  }
  
  .weather-temperature .active {
    color: black;
    cursor: default;
  }
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  
  .weather-temperature .celLink:hover {
    text-decoration: none;
  }
  
  .weather-temperature .fahLink:hover {
    text-decoration: none;
  }
  
  .city degree {
    font-weight: 700;
    font-size: 10px;
  }
  
  .description {
    font-weight: 500;
    font-size: 20px;
    color: rgb(73, 73, 73);
    text-transform: capitalize;
  }
  
  .other-descriptions {
    font-weight: 500;
    font-size: 20px;
    color: rgb(73, 73, 73);
    margin-top: 77px;
    position: relative;
  }
  
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
  }
  
  .weather-forecast-date {
    font-size: 25px;
    font-weight: 500;
    color: black;
  }
  
  .weather-forecast-temp {
    font-size: 20px;
    font-weight: 500;
  }
  
  .weather-forecast-temp-min {
    color: rgb(141, 4, 104);
  }
  .day-hour {
    font-weight: 500;
    font-size: 20px;
    color: rgb(74, 2, 2);
  }
  
  .pre-footer {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  .my-name {
    color: rgb(12, 85, 141);
    text-decoration: none;
    margin-bottom: 0;
  }
  .my-name:hover {
    color: black;
    text-decoration: underline;
  }
  
  .line {
    color: rgb(12, 85, 141);
  }
  
  .name {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: rgb(22, 21, 21);
  }
  .src-link {
    color: rgb(6, 158, 182);
    text-decoration: none;
    margin-bottom: 0;
  }